node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.env
.env.local
android/build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
ios/build/
ios/Pods/
ios/Index/
ios/DerivedData/
